@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.board-row {
  display: flex;
  align-items: center;
  margin: 5px solid black;
}
.status {
  margin: 0 auto;
  text-align: center;
  font-size: large;
}
.status h1 {
  font-family: "Poppins", sans-serif;
  color: honeydew;
  margin-top: 10%;
}
body {
  background-color: brown;
}
